button{
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
}
button:hover{
    transform: scale(1.07);
}
.menu-card {
    opacity: 0;
	animation: fadeIn 1s ease-in both;
    cursor: pointer;
}
.menu-item-check {
    opacity: 0;
	animation: fadeIn 0.5s ease-in both;
    cursor: pointer;
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
.fa-circle-check{
    animation: spin 1000ms ease-in-out 1000ms normal backwards;
    animation-play-state: running;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.menu-card:hover{
    width: 84%;
    transition-duration: 400ms paused;  
    cursor: pointer;
    
}

